<!-- Herança com django inicio do block e final do block -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple MOOC - Uma simples plataforma de ensino a distância" />
    <title>DevSys</title>
    <link rel="icon" href="{% static 'images/DEVSYS-FAVICON.png' %}">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">   <!-- caminho relativo a pasta static -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
<div class="header">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
        <a class="pure-menu-heading" style="color: rgb(176, 147, 204);" href="{% url 'home' %}">SISTEMA DEVSYS</a>
        <ul>
            <li><a href="{% url 'home' %}">Início</a></li>
            <li><a href="{% url 'login_user' %}">Usuário</a></li>
            <li><a href="{% url 'contact' %}">Contato</a></li>
        </ul>
    </div>
</div>
<div class="content" style="margin-top: 2%;">
	{% block content %}{% endblock %}  <!--serve como place holder para os outros colocar conteudo -->
	<div class="footer" style="color: rgb(176, 147, 204);">
        Desenvolvimento para o seu Negócio - Sistema DevSys 
        <!--Simple MOOC - Uma simples plataforma de ensino a distância-->
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14719.053154925366!2d-45.588996!3d-22.737038!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc89ce550c7b2b%3A0x4d4defef1cd9fe02!2sR.%20Brg.%20Jord%C3%A3o%2C%201045%20-%20Abern%C3%A9ssia%2C%20Campos%20do%20Jord%C3%A3o%20-%20SP%2C%2012460-000!5e0!3m2!1spt-BR!2sbr!4v1592845314633!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script> <!--Final do body-->
</body>
</html>