{% extends "base.html" %}

{% block content %}

    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                       
                        Uma simples plataforma para controle de estoque confiável para clientes e empresas. 
                        <!--Uma Simples Plataforma de Ensino a Distância-->
                    </h1>
                    <h2 class="splash-subhead">
                       O sistema DevSys visa controlar o seu estoque, emitir relatórios e notas fiscais.
                        <!--O Simple MOOC visa simplificar o ensino a distância, provendo ferramentas objetivas e de fácil uso para cursos a distância.-->
                    </h2>
                    <p>
                        <a href="#orcamento" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Vídeos e fotos<!--Vídeo-aulas e materiais digitais--></h4>
                    <h3>Publique aqui<!--Publique suas aulas--></h3>
                    <p>
                        Sistema simples e prático.
                        <!--O Simple MOOC tem um sistema simples e prático para que o professor disponibilize vídeo-aulas e materiais digitais como: pdf's, slides, imagens ...-->
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/logo-novo.bmp"
                         alt="DevSys">
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/devsys-OS.png"
                         alt="Fórum de Dúvidas">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Fórum de Dúvidas</h4>
                    <h3>Interaja com o atendente</h3>
                    <p>
                        Atendimento de forma exclusiva com seu próprio fórum no sistema do site para interagir com responsável do atendimento.
                        <!--No Simple MOOC você pode ter seu próprio sistema de fórum para que seus alunos possam interagir com você e com os outros alunos-->
                    </p>
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Documentos<!--Exercícios--></h4>
                    <h3>Crie um fórum<!--Crie exercícios para avaliar seus alunos--></h3>
                    <p>
                        Controle de satisfação é controlado pela plataforma do site, facilitando sua vida
                        <!--Você pode criar exercícios para que os alunos possam ser avaliados e todo o controle de notas e resolução dos exercícios é controlado pela plataforma, facilitando sua vida-->
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/devsys-func.png"
                         alt="Usuários">
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/logo-novo.bmp"
                         alt="Mural de Avisos">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Mural de Avisos</h4>
                    <h3>Envie seu contato diretamente para receber um orçamento:<!--Envie anúncios diretamente para os alunos--></h3>
                    <p>
                        <a id="orcamento" href="http://www.devsys.com.br/" style="text-decoration: none;
                         color: blueviolet;"><b>devsys.com.br</b></a>
                        <!--Organize os avisos do seu curso de forma fácil e simples.-->
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}