{% extends "base.html" %}

{% block content %}

    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                       
                        Uma simples plataforma para controle de estoque confiável para clientes e empresas. 
                        <!--Uma Simples Plataforma de Ensino a Distância-->
                    </h1>
                    <h2 class="splash-subhead">
                       O sistema DevSys visa controlar o seu estoque, emitir relatórios e notas fiscais.
                        <!--O Simple MOOC visa simplificar o ensino a distância, provendo ferramentas objetivas e de fácil uso para cursos a distância.-->
                    </h2>
                    <p>
                        <a href="#orcamento" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Vídeos e fotos<!--Vídeo-aulas e materiais digitais--></h4>
                    <h3>Publique aqui<!--Publique suas aulas--></h3>
                    <p>
                        Sistema simples e prático.
                        <!--O Simple MOOC tem um sistema simples e prático para que o professor disponibilize vídeo-aulas e materiais digitais como: pdf's, slides, imagens ...-->
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/logo-novo.bmp"
                         alt="DevSys">
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/devsys-OS.png"
                         alt="Fórum de Dúvidas">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Fórum de Dúvidas</h4>
                    <h3>Interaja com o atendente</h3>
                    <p>
                        Atendimento de forma exclusiva com seu próprio fórum no sistema do site para interagir com responsável do atendimento.
                        <!--No Simple MOOC você pode ter seu próprio sistema de fórum para que seus alunos possam interagir com você e com os outros alunos-->
                    </p>
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Documentos<!--Exercícios--></h4>
                    <h3>Crie um fórum<!--Crie exercícios para avaliar seus alunos--></h3>
                    <p>
                        Controle de satisfação é controlado pela plataforma do site, facilitando sua vida
                        <!--Você pode criar exercícios para que os alunos possam ser avaliados e todo o controle de notas e resolução dos exercícios é controlado pela plataforma, facilitando sua vida-->
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/devsys-func.png"
                         alt="Usuários">
                </div>
            </div>
        </div>
        <br><br><br>

        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/logo-novo.bmp"
                         alt="Mural de Avisos">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Mural de Avisos</h4>
                    <h3>Envie seu contato diretamente para receber um orçamento:<!--Envie anúncios diretamente para os alunos--></h3>
                    <p>
                        <a id="orcamento" href="http://www.devsys.com.br/" style="text-decoration: none;
                         color: blueviolet;"><b>devsys.com.br</b></a>
                        <!--Organize os avisos do seu curso de forma fácil e simples.-->
                    </p>
                </div>
            </div>

            <!-- RODAPÉ INFERIOR PARA TODOS -->
            
            <div class="pure-u-1-3 content-ribbon">
                <div class="col-sm-6">
                <h1 class="content-subhead">DevSys&nbsp;</h1>
                <p class="content-subhead">CAMPOS DO JORDÃO - SP
                    <br>RUA BRIGADEIRO JORDÃO, 1045 - VILA ABERNESSIA
                    <br>contato@devsys.com.br</p>
                <p class="content-subhead">(12) 3664-2503</p>
                </div>
                <div class="pure-u-sm-6 pure-hidden-sm pure-hidden-xl">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.7627935085948!2d-45.58893579999999!3d-22.73705639999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc89ce5569250d%3A0xf496b20638529a34!2sR.+Brg.+Jord%C3%A3o%2C+1045+-+Abern%C3%A9ssia%2C+Campos+do+Jord%C3%A3o+-+SP%2C+12460-000!5e0!3m2!1spt-BR!2sbr!4v1490885401914" width="600" height="150" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
                <h6 class="pure-hidden-xl">Site desenvolvido por Cesar Costa. E-mail: c-cesar-@outlook.com.br</h6>
            </div>

        </div>
    </div>
{% endblock %}